@import "../../common/styles/variables";
@import "../../common/styles/mixins";


.dialogsContainer {
    display: grid;
    grid-template-columns: 3fr 7fr;
    background-color: $blocksBackground;
    height: 80vh;

    .dialogsItems {
        padding: 10px;
        border-right: 1.5px solid #eaebec;
        overflow-y: scroll;

    }
    .messagesContainer {
        @include flexColumn;
        .messages {
            border-bottom: 1px solid #eaebec;
            border-top: 1px solid #eaebec;
            overflow-y: scroll;
            flex-grow: 1;
            height: 65vh;
        }
    }

}







