@import "../../../../common/components/FormInput/FormInput.module";

.disabled {
  pointer-events: none;
}

.statusInput {
  @extend .formInputStyles;
}

.status {
  display: flex;
  align-items: center;
  cursor: pointer;
}